################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExcitebikeRando/obj/Debug
/ExcitebikeRando/.vs/ExcitebikeRando/v15/Server/sqlite3
/ExcitebikeRando/.vs/ExcitebikeRando/v15
